[submodule "Advanced Programming/AP1-1"]
	path = Advanced Programming/AP1-1
	url = https://github.com/dabushori/AP1-1
[submodule "Advanced Programming/AP1-2"]
	path = Advanced Programming/AP1-2
	url = https://github.com/dabushori/AP1-2
[submodule "Advanced Programming/AP1-3"]
	path = Advanced Programming/AP1-3
	url = https://github.com/dabushori/AP1-3
[submodule "Advanced Programming/AP1-4"]
	path = Advanced Programming/AP1-4
	url = https://github.com/dabushori/AP1-4
[submodule "Advanced Programming 2/AP2-1"]
	path = Advanced Programming 2/AP2-1
	url = https://github.com/yorairh/AP2-1
[submodule "Advanced Programming 2/AP2-2"]
	path = Advanced Programming 2/AP2-2
	url = https://github.com/dabushori/AP2-2
[submodule "Advanced Programming 2/AP2-3"]
	path = Advanced Programming 2/AP2-3
	url = https://github.com/dabushori/AP2-3
